# Environment variables
.env

# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Local runtime data
data/

# Logs
*.log

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# OS
.DS_Store
Thumbs.db